name: Terraform CI/CD (TF-via-PR)

on:
  pull_request:
  push:
    branches: [main]

permissions:
  actions: read
  checks: write
  contents: read
  pull-requests: write
  id-token: write

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false   # REQUIRED by tf-via-pr for detailed exit codes
          
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v4

      - name: Init TFLint
        run: tflint --init

      - name: Run TFLint
        run: tflint

      - name: Checkov Security Scan
        uses: bridgecrewio/checkov-action@v12

      - name: Terraform via PR (Plan or Apply)
        uses: op5dev/tf-via-pr@v13
        with:
          working-directory: .
          # Backend/variable/workspace configs
          arg-backend-config: env/dev.tfbackend
          arg-var-file: env/dev.tfvars
          arg-workspace: dev-use1
